<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="status">Apply Award</ion-title>
      <ion-title *ngIf="!status">Edit Award</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
      <ion-list lines="none">
          <form [formGroup]="applyAwardForm" (ngSubmit)="onSubmit(applyAwardForm.value)">
              <ion-item>
                  <ion-label>Business User</ion-label>
                  <ion-select formControlName="boid" [(ngModel)]="data.boid">
                      <ion-select-option *ngFor="let user of businessUser" [selected]="selected(user.id)" [value]="user.id">{{user.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Business</ion-label>
                  <ion-select formControlName="busid" [(ngModel)]="data.busid">
                      <ion-select-option *ngFor="let bus of business" [selected]="selectedBusiness(bus.id)" [value]="bus.id">{{bus.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Award</ion-label>
                  <ion-select formControlName="awdid" [(ngModel)]="data.awdid">
                      <ion-select-option *ngFor="let awd of awards" [selected]="selectedAward(awd.id)" [value]="awd.id">{{awd.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <!-- <ion-item>
                  <ion-label position="floating">Act Amount</ion-label>
                  <ion-input type="text" formControlName="actamount"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Paid Amount</ion-label>
                  <ion-input type="text" formControlName="paidamount"></ion-input>
              </ion-item> -->
              <!-- <ion-item>
                  <ion-label position="floating">Winner</ion-label>
                  <ion-input formControlName="winner" type="text"></ion-input>
              </ion-item> -->
              <!-- <ion-item>
                  <ion-label position="floating">Date win</ion-label>
                  <ion-datetime formControlName="datewin" display-format="MMM DD, YYYY"></ion-datetime>
              </ion-item> -->
              <ion-button *ngIf="status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Apply</ion-button>
              <ion-button *ngIf="!status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Update</ion-button>
          </form>
      </ion-list>
  </ion-content>