<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Awards</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-spinner *ngIf="showAward"></ion-spinner>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="!showAward">
      <ion-row>
        <ion-col size="8">
            <ion-label color="primary">My Award list</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button color="primary" (click)="addAwardItem()"><ion-icon name="add"></ion-icon>Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-list *ngIf="!showAward">
    <ion-item-sliding *ngFor="let item of awardItems">
      <ion-item (click)="viewAwardItem(item)">
      {{item.name}}
      </ion-item>
      <ion-item-options>
        <ion-button color="warning" (click)="editAwardItem(item)"><ion-icon name="create"></ion-icon>Edit</ion-button>
        <ion-button color="danger" (click)="removeAwaredItem(item)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
      </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
