<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaulthref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Details Page</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content padding>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Award</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-label>Name: </ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-label>{{awards.name}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label>Amount: </ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-label>{{awards.amount}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-label>Description: </ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-label>{{awards.desc}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    
    </ion-content>
