<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Details Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Business</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>Name: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Email: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.email}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Mobile: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.mobile}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Landline: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.landline}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Year of Est: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.yearofest}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Address: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.address}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Type: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.type}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>No of partners: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.nopartners}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>GST: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.gst}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Reg No: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{business.regno}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>