<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="status">Add Business</ion-title>
    <ion-title *ngIf="!status">Edit Business</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
    <ion-list lines="none">
        <form [formGroup]="businessForm" (ngSubmit)="onSubmit(businessForm.value)">
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Landline</ion-label>
                <ion-input type="text" formControlName="landline"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Mobile No</ion-label>
                <ion-input formControlName="mobile" type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Year of est</ion-label>
                <ion-datetime formControlName="est" display-format="MMM DD, YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Address</ion-label>
                <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select formControlName="type" placeholder="Select Type" [(ngModel)]="data.type">
                <ion-select-option value="pvtltd">pvt_ltd</ion-select-option>
                <ion-select-option value="prop">propertiership</ion-select-option>
                <ion-select-option value="llp">llp</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>No Of Partners</ion-label>
                <ion-select formControlName="nopartners" placeholder="Select one" [(ngModel)]="data.nopartners">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                </ion-select>
              </ion-item>
            <ion-item>
                <ion-label position="floating">GST</ion-label>
                <ion-input type="text" formControlName="gst"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Reg No</ion-label>
                <ion-input type="text" formControlName="regno"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Business Sub Category</ion-label>
                <ion-select formControlName="bsc" [(ngModel)]="data.bscid" (ionChange)="businessSubChange(data.bscid)">
                    <ion-select-option *ngFor="let bsc of businessSubCategory" [value]="bsc.id">{{bsc.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="businessSubTwoCategory">
                <ion-label>Business Sub2 Category</ion-label>
                <ion-select formControlName="bstc" [(ngModel)]="data.bstcid" (ionChange)="businessSubTwoChange(data.bstcid)">
                    <ion-select-option *ngFor="let bstc of businessSubTwoCategory" [value]="bstc.id">{{bstc.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-button *ngIf="status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Create</ion-button>
            <ion-button *ngIf="!status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Update</ion-button>
        </form>
    </ion-list>
</ion-content>