<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="business">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Business</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>