<ion-content padding class="animated fadeIn login auth-page">
    <div class="ion-padding" id="welcome">
        <img src="assets/imgs/bananalogo.png" class="logo"/>
        <h1> Welcome to MyENA </h1>
        <div>Discover some intersting business</div>

        <ion-spinner *ngIf="showSpinner"></ion-spinner>
  
        <div class="ele">
            <ion-grid class="marginTop">
                <ion-row>
                  <ion-col size="4">
                      <ion-button color="primary" style="float:left" (click)="beforeLogin()">Facebook</ion-button>
                  </ion-col>
                  <ion-col size="4">
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="danger" style="float: right;" (click)="loginGoogle()">Google</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
    </div>
  </ion-content>
  