// #welcome{
//     h1{
//         font-size: 52px;
//         margin-top:50px
//     }
    
//     .logo{
//         height: 100px;
//     }
// }
:host {
    ion-content {
        --background: #f2b632;;
    }
}

.paz {
    position: relative;
    z-index: 10;
}

.ele {
    position: absolute;
    bottom: 0;
}