<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
    <ion-label>My Profile:</ion-label>
    <ion-list lines="none">

        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" disabled formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" disabled formControlName="fname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" disabled formControlName="lname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" disabled formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Mobile No</ion-label>
                <ion-input formControlName="mobile" type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">DOB</ion-label>
                <ion-datetime formControlName="dob" display-format="MMM DD, YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Address</ion-label>
                <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>
            <!-- <ion-item>
                <ion-label position="floating">Primary Business</ion-label>
                <ion-input formControlName="primary_business" type="text"></ion-input>
            </ion-item> -->
            <ion-item>
                <ion-label>Primary Business</ion-label>
                <ion-select formControlName="primary_business" [(ngModel)]="data.primary_business">
                    <ion-select-option *ngFor="let bus of business" [selected]="selectedBusiness(bus.id)" [value]="bus.id">{{bus.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-button expand="full" color="primary" style="margin-top: 150px;" type="submit">Update</ion-button>
        </form>

    </ion-list>

    
</ion-content>