<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="status">Add Award</ion-title>
      <ion-title *ngIf="!status">Edit Award</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
      <ion-list lines="none">
          <form [formGroup]="awardForm" (ngSubmit)="onSubmit(awardForm.value)">
              <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Amount</ion-label>
                  <ion-input type="text" formControlName="amount"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-input type="text" formControlName="desc"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">BA Id</ion-label>
                  <ion-input formControlName="baid" type="number"></ion-input>
              </ion-item>
              <ion-button *ngIf="status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Create</ion-button>
              <ion-button *ngIf="!status" expand="full" color="primary" style="margin-top: 10px;" type="submit">Update</ion-button>
          </form>
      </ion-list>
  </ion-content>