<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Details Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Business Award</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-label>Business User: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.bo_id}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Business Name: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.bus_id}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Award Name: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.awd_id}}</ion-label>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="4">
            <ion-label>Act Amount: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.act_amount}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Paid Amount: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.paid_amount}}</ion-label>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row>
          <ion-col size="4">
            <ion-label>Winner: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.winner}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>Date Win: </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-label>{{boawards.date_win}}</ion-label>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>