<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Business</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-spinner *ngIf="showTab"></ion-spinner>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="!showTab">
      <ion-row>
        <ion-col size="8">
            <ion-label color="primary">My Business list</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button color="primary" (click)="addItem()"><ion-icon name="add"></ion-icon>Add</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Primary Business</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4">
                            <ion-label>Name: </ion-label>
                        </ion-col>
                        <ion-col size="8">
                            <ion-label>{{primary_business}}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-list *ngIf="!showTab">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="viewItem(item)">
      {{item.name}}
      </ion-item>
      <ion-item-options>
        <ion-button color="warning" (click)="editItem(item)"><ion-icon name="create"></ion-icon>Edit</ion-button>
        <ion-button color="danger" (click)="removeItem(item)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
      </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>