<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-spinner *ngIf="showDashboard"></ion-spinner>
    <ion-card *ngIf="!showDashboard">
        <ion-card-header>
          <ion-card-subtitle>My Business Users</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <h1 style="text-align:center">{{businessUser.length}}</h1>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!showDashboard">
          <ion-card-header>
            <ion-card-subtitle>My Business</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
              <h1 style="text-align:center">{{business.length}}</h1>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!showDashboard">
            <ion-card-header>
              <ion-card-subtitle>My Award</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
                <h1 style="text-align:center">{{award.length}}</h1>
            </ion-card-content>
          </ion-card>
</ion-content>